@font-face {
  font-family: "digital";
  src: url("Digital7-rg1mL.ttf");
  src: url("Digital7-rg1mL.ttf") format("truetype");
  src: url("Digital7Mono-Yz9J4.ttf") format("truetype");
}
$retro-white: #efeee8;
$retro-black: #06160f;
$retro-gray: #535b4e;
:root {
  box-sizing: border-box;
}
body {
  #keyboard-tip {
    color: $retro-white;
  }
  touch-action: manipulation; // Hint for mobile browsers
  -webkit-tap-highlight-color: transparent; // Remove weird gray highlight
  font-family: "digital";
  box-sizing: border-box;
  background-color: $retro-black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  .game-wrapper {
    max-height: 640px;
    display: flex;
    flex-direction: column;
  }
  #mobile-controls {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $retro-white;
    width: 360px;
    height: 240px;
    border-top: 1px solid $retro-gray;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 2rem;
      line-height: 1;

      width: 70px;
      height: 70px;
      border: none;
      border-radius: 10px;
      background-color: $retro-black;
      color: $retro-white;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
      transition: background-color 0.1s;
    }
    button:active {
      background-color: $retro-white;
      color: $retro-black;
    }
    .touched {
      background-color: $retro-white;
      color: $retro-black;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 400px;
    width: 360px;
    background-color: $retro-black;
    .playfield {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(20, 1fr);
      width: 200px;
      height: 400px;
      background-color: $retro-white;
    }
    .cell {
      width: 20px;
      height: 20px;
      box-sizing: border-box;
    }

    .filled {
      box-shadow: 4px 2px 5px $retro-gray;
      background-color: $retro-black;
      border: 1px solid $retro-white;
    }
    .active {
      box-shadow: 2px 1px 5px $retro-gray;
      background-color: $retro-gray;
      border: 1px solid $retro-white;
    }
  }
}
.side {
  height: 400px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid $retro-gray;
  .info {
    display: flex;
    height: 280px;
    flex-direction: column;
    background-color: $retro-white;
    .score {
      margin-left: 10px;
      margin-top: 10px;
      font-size: large;
      font-weight: 900;
      color: $retro-gray;
      #counter {
        color: $retro-gray;
        font-size: large;
        font-weight: 900;
      }
    }
    .speed {
      margin-left: 10px;
      margin-top: 5px;
      font-weight: 900;
      color: $retro-gray;
      #speedometer {
        color: $retro-gray;
        font-size: large;
      }
    }
    #nextContainer {
      background-color: $retro-white;
      color: $retro-black;
      margin-left: 20px;
      width: 120px;
      height: 120px;

      h3 {
        font-family: "digital";
        font-weight: 700;
        margin-bottom: 0;
      }

      #nextPieces {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 120px;
        border: 1px solid $retro-black;

        .preview-piece {
          box-sizing: border-box;
          width: 80px;
          display: grid;
          grid-auto-flow: row;
          grid-auto-rows: 20px;
          justify-content: center;
          padding: 0.25rem;
          background-color: $retro-white;

          height: 60px;
          gap: 0px;
          .cell {
            width: 20px;
            height: 20px;
            box-sizing: border-box;
            &.filled {
              background-color: $retro-black;
            }
          }
        }
      }
    }
  }
  .controlers {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid $retro-gray;
    background-color: $retro-white;
    button {
      box-shadow: 0px 0px 5px $retro-gray;
      height: 25px;
      min-width: 80px;
      display: block;
      font-family: "digital";
      font-size: medium;
      background: $retro-white;
      color: $retro-gray;
      border: 1px solid $retro-gray;
    }
    button:active {
      background-color: $retro-gray;
      color: $retro-white;
    }
  }
}
